body{
    min-height: 100vh;
    background-color: #444544;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.top{
    text-align: center;
    padding:200px;
    background-image: url('../Image/topic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
}

.top h1 {
    font-size: 6em;
    
}

.top h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}


.why h2, .how h2, .join h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color:#81cd34;
}

a{
    text-decoration: none;
    color:inherit;

}

.top p{
    border-radius: 10px;
    background-color: #1d1d1ddc;
    backdrop-filter:blur(50px);
    margin:50px 20px 10px 20px;
    text-align: center;
    padding:10px 20px;
    font-size: 1.5em;
    color:#ffffffa8;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.internal_link {
    margin:50px 40px 20px 40px;
    list-style-type:none;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-size: 1.4em;
    gap:25px;
}

.internal_link li:hover{
    color:#81cd34;
    transform: scale(1.03);
    cursor: pointer;
    
}

.why p, .how p, .join p{
    font-size: 1.2em;
    color:#d0d0d0;
}

.why , .how, .join{
    margin: 50px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}
.button:hover {
    background-color: #2c362c;
    transform: scale(1.1);
}


.go_up {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.go_up a {
    background-color: #d0d0d0;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 10px;
    color: #2c362c ;
    border: none;
    cursor: pointer;
}

.go_up a:hover {
    background-color: #2c362c; 
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


@media(max-width: 800px){
    .top{
        text-align: center;
        padding:10px;
        background-image: url('../Image/topic.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color:#fff;
    }

    .top h1{
        padding-top: 50px;
        font-size: 4em;
    }

    .top p{
        font-size:1.2em;
    }

    .why p, .how p, .join p{
        font-size: 1.1em;
        color:#d0d0d0;
    }

  


}

@media(max-width: 480px){

    .top h1{
        font-size: 2.5em;
    }

    .top h2{
        font-size:1.4em;
    }

    .top p{
        font-size:1.1em;
        padding:5px 20px;
        margin-left: 0%;
        margin-right: 0%;

    }

    .why p, .how p, .join p{
        font-size: 1em;
    }

    .why h2, .how h2, .join h2{
        font-size: 1.6em;
    }

    .internal_link{
        margin:20px 30px 0px 30px
    }

    .internal_link ul{
        display: block;
        gap:10px;
        font-size: 1.1em;
    }



}


