.section-heading1{
	font-weight: bold;
	font-size: 2.5rem;
	padding: 40px 0px;
	color: #2c362c;
}

.section-heading2{
	font-weight: bold;
	font-size: 2.5rem;
	padding: 40px 0px;
	color: #fff;
}

.emptyBgCcontainer{
    padding: 20px 7%;
}

.recentProgram-container{
	background-image: url('../Image/banner.jpg');
	background-size: cover;
	padding: 20px 7%;
}
.divBody{
	display: grid;
	margin-bottom: 20px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 50px 40px;
    justify-content: center;
}


.card{
	width:400px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 15px 0px rgba(44, 54, 44, 1);
	transition: ease-in-out 0.2s;
}

.card:hover{
	transform: scale(1.05) ;
	transition: ease-in-out 0.2s;
}

.card img{
	width: 100%;
	height: auto;
}

.card video{
	width: 100%;
	height: auto;
}

.cardContent{
	padding: 20px;
}

.cardContent-video{
	padding: 20px;
	text-align: center;
}

.cardContent h4 {
	font-size: 1em;
}

.cardContent h3 {
	font-size: 1.3em;
	color: #66A82C;
	
}

.cardContent p {
	font-size: 1em;
	line-height: 1.3;
	margin-bottom: 20px;
	text-align: justify;
}

.cardContent ul{
	margin-left: 20px;
	margin-bottom: 20px ;
}

.cardButton-1{
	display: inline-block;
	text-decoration: none;
	padding:10px 20px;
	border-radius: 5px;
	background-color: #66A82C;
	transition: ease-in-out 0.2s;
	border: none;

	color: #fff;
	font-size: 1em;
	font-weight: bold;

}

.cardButton-1:hover{
	background-color: #2c362c;
	transform: scale(1.02) ;
	transition: ease-in-out 0.2s;
}

.cardButton-2{
	display: inline-block;
	text-decoration: none;
	padding:10px 16px;
	border-radius: 5px;
	transition: ease-in-out 0.2s;

	color: #2c362c;
	font-size: 1em;
	font-weight: bold;
}

.cardButton-2:hover{
	transform: scale(1.02) ;
	transition: ease-in-out 0.2s;
	color: #66A82C;
}

/*________________*/

.banner {
	background-image: url('../Image/banner.jpg');
	background-size: cover;
	background-position: center center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner-content {
	padding: 7%;
    position: relative;
    max-width: 600px;
    color: #fff;
}

.banner-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner-content p {
    font-size: 1em;
    margin-top: 10px;
    line-height: 1.5;
}

.contentData{
	padding: 10px 0px;
}
.contentData p{
	font-size: 1.2em;
    text-align: justify;
    margin: 10px 0px;
}
.contentData h3, .VolTitle{
	font-size: 1.5em;
	color: #66a82c;
	margin: 10px 0px;
}

.subTopic{
	font-size: 1.4em;
	font-weight: bold;
	
}

.subTopic-data{
	padding: 0px 20px;
}
