/*

 colors,

styling
prime color - #66A82C
Secondary color - #2c362c

font styling
prime font family - poppins
prime font color - #2c362c
secondary pront color - #66a82c

Alternative color - #fff

*/



*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

nav{
    font-weight: 500;
    background-color: #66A82C;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.1);
}

nav img{
    height: 25px;
    width: auto;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

.sidebar a{
    color: #000;
}

nav a:hover{
    color: #2c362c;
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    display: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: #66A82C46;
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menuButton{
    display: none;
}

@media(max-width: 700px){
    .hideOnMobile{
        display: none;
    }

    .menuButton{
        display: block;
        background-color: #fff;
    }

    nav a:hover{
        color: #66A82C;
    }

    .cardContentLside .cardButton-1{
    margin-top: 20px;
}

}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.data{
    width: 100%;
    height: 1500px;
}


/*-------------FOOTER---------------------*/

.footer-main{
    padding: 30px 10% 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3.5rem;
    background-color:#2c362c;
    left: 0;
    right: 0;
    bottom: 0;
}

.footerContent img{
    width: 100%;
}

.footerContent h4{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 20px;

}

.footerContent p{
    margin: 10px 0;
    text-align: justify;
    font-size: 1em;
    color: #fff;
}

.footerContent li{
    margin-bottom: 10px;
    list-style-type: none;
}

.footerContent li a{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
}

.footerContent li a:hover{
    transform: scale(1.02);
    color: #66A82C;
}

.footer-bottom{
    width: 100%;
    height: 40px;
    background-color:#66A82C;
    align-items: center;
}

.footer-bottom span{
    font-size: 12px;
    font-weight: 100;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}