.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main {
    flex: 3;
}
aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    margin-right: 20px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

.ref li{
    list-style: none;
    padding-bottom: 9px;
}

aside{
    background-color: #2c362c;
}

aside h3{
    color: #fff;
}
aside a{
    text-decoration : none;
    color: #66a82c ;
}

aside ul li{
    padding-bottom: 4px;
    color: #fff ;
    font-weight: bold;
    margin: 10px 0px;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: #cbccc2ef;
    color: #2c362c;
}

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
        
.top a {
    padding: 10px 20px; /* Adds padding for button-like feel */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline */
    border-radius: 20px; /* Rounds the corners */
    font-size: 12px; /* Adjust font size */
    font-weight: bold; /* Make the text stand out */
}

.top a:hover {
    background-color: #0056b3; /* Darker shade on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

img{
    width: 90%;
}

strong{
    color: #66A82C;
    margin: 20px 0px;
}

ul h3{
    margin: 10px 0px;
}

ul h2{
    margin: 10px 0px;
}
li{
    margin: 5px 0px;
}







.banner {
    background-image: url('../Image/banner.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner-content {
    padding: 7%;
    position: relative;
    max-width: 600px;
    color: #fff;
}

.banner-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner-content p {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5;
}

.cardButton-1{
    margin: 10px 0px;
    display: inline-block;
    text-decoration: none;
    padding:10px 20px;
    border-radius: 5px;
    background-color: #66A82C;
    transition: ease-in-out 0.2s;
    border: none;

    color: #fff;
    font-size: 1em;
    font-weight: bold;

}

.cardButton-1:hover{
    background-color: #2c362c;
    transform: scale(1.02) ;
    transition: ease-in-out 0.2s;
}