
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main {
    flex: 3;
}

a {
    color:#5CB329;
}

.top{
    position:fixed;
    bottom:5%;
    right:2%;
}

.top a{
    padding: 10px 15px;
    background-color: #5CB329;
    color:white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}

.top a:hover{
    background-color: #2c362c;
    box-shadow:0px 4px 6px rgba(0,0,0,0.2);
}

aside {
    flex: 1;
    background-color: #575757;
    color:#b6b6b6;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 20px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #e0e0e0;
    border-radius: 10px;
}
header, footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.ref li{
    list-style: square;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: #2c362c;
    color: white;
    margin-top: 8px;
}

img{
    width: 90%;
}

code{
    color: #803bd5;
    font-weight: bolder;
    cursor: pointer;
    font-size: large;
}
