*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color:#e0f1cb; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

nav{
    font-weight: 500;
    background-color: #8BC34A;
    box-shadow: 3px 3px 3px rgb(0,0,0,0.1);
}

.topic{
    background-image: url("");
}

nav img{
    height: 25px;
    width: auto;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav a:hover{
    color: #4b6928;
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: #ffffff46;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, alp0.1ha);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menuButton{
    display: none;
}

@media(max-width: 700px){
    .hideOnMobile{
        display: none;
    }

    .menuButton{
        display: block;
    }

    nav a:hover{
        color: #8BC34A;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.data{
    
    width: 100%;
    height: 1500px;
    align-items: center;
    background-color: white;
}
.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main {
    flex: 3;
}
aside {
    color: #b6b6b6;
    flex: 1;
    background-color: #575757;
    padding: 15px;
    border: 1px solid #ddd;
    margin-right: 20px;
    border-radius: 10px;
}
aside a{text-decoration: none;
}
a{color: #5cb329;}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #e0e0e0;
    border-radius:  10px;
}


.ref li{
    list-style: none;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: #2c362c;
    color: white;
    margin-top: 8px;
}

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
        
.top a {
    padding: 10px 20px; /* Adds padding for button-like feel */
    background-color: #3fd05e; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline */
    border-radius: 20px; /* Rounds the corners */
    font-size: 12px; /* Adjust font size */
    font-weight: bold; /* Make the text stand out */
}

.top a:hover {
    background-color: #474747; /* Darker shade on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

img{
    width: 90%;
}
.footer-main{
    padding: 30px 10% 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3.5rem;
    background-color:#2c362c;
    left: 0;
    right: 0;
    bottom: 0;
}

.footerContent img{
    width: 100%;
}

.footerContent h4{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 20px;

}

.footerContent p{
    margin: 10px 0;
    text-align: justify;
    font-size: 1em;
    color: #fff;
}

.footerContent li{
    margin-bottom: 10px;
    list-style-type: none;
}

.footerContent li a{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
}

.footerContent li a:hover{
    transform: scale(1.02);
    color: #66A82C;
}

.footer-bottom{
    width: 100%;
    height: 40px;
    background-color:#66A82C;
    align-items: center;
}

.footer-bottom span{
    font-size: 12px;
    font-weight: 100;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}