* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.splash-container {
    position: relative;
    width: 100%;
    height: 100%;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	z-index:-1;
}
.panal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.webTitle{
    font-size: 4em;
}

.mission{
    width: 50%;
}

.team {
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.dot {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    animation: dot-wave 1.5s infinite ease-in-out;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
.dot:nth-child(4) {
    animation-delay: 0.6s;
}
.dot:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes dot-wave {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.7;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}