.section-heading1{
	font-weight: bold;
	font-size: 2.5rem;
	padding: 40px 0px;
	color: #2c362c;
}

.section-heading2{
	font-weight: bold;
	font-size: 2.5rem;
	padding: 40px 0px;
	color: #fff;
}

.emptyBgCcontainer{
    padding: 20px 7%;
}

.recentProgram-container{
	background-image: url('../Image/banner.jpg');
	background-size: cover;
	padding: 20px 7%;
}
.divBody{
	display: grid;
	margin-bottom: 20px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 50px 40px;
    justify-content: center;
}


.card{
	width:400px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 15px 0px rgba(44, 54, 44, 1);
	transition: ease-in-out 0.2s;
}

.card:hover{
	transform: scale(1.05) ;
	transition: ease-in-out 0.2s;
}

.card img{
	width: 100%;
	height: auto;
}

.card video{
	width: 100%;
	height: auto;
}

.cardContent{
	padding: 20px;
}

.cardContent h4 {
	font-size: 1em;
	margin-bottom: 5px;
}

.cardContent h3 {
	font-size: 1.3em;
	margin-bottom: 20px;
	color: #66A82C;
	
}

.cardContent p {
	font-size: 1em;
	line-height: 1.3;
	margin-bottom: 20px;
	text-align: justify;
}

.cardContent ul{
	margin-left: 20px;
	margin-bottom: 20px ;
}

.cardButton-1{
	display: inline-block;
	text-decoration: none;
	padding:10px 20px;
	border-radius: 5px;
	background-color: #66A82C;
	transition: ease-in-out 0.2s;
	border: none;

	color: #fff;
	font-size: 1em;
	font-weight: bold;

}

.cardButton-1:hover{
	background-color: #2c362c;
	transform: scale(1.02) ;
	transition: ease-in-out 0.2s;
}

.cardButton-2{
	display: inline-block;
	text-decoration: none;
	padding:10px 16px;
	border-radius: 5px;
	transition: ease-in-out 0.2s;

	color: #2c362c;
	font-size: 1em;
	font-weight: bold;
}

.cardButton-2:hover{
	transform: scale(1.02) ;
	transition: ease-in-out 0.2s;
	color: #66A82C;
}

/*________________*/

.banner {
	background-image: url('../Image/banner.jpg');
	background-size: cover;
	background-position: center center;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner-content {
	padding: 7%;
    position: relative;
    max-width: 600px;
    color: #fff;
}

.banner-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner-content p {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5;
}

.QAF hr{
	margin: 10px 0px;
}

/*__________rating-container-D___________*/

.rating-container{
	padding: 20px 7%;
}

.cardContentLside h2{
	color: #66a82c;
	font-weight: 500;
	font-size: 2.5em;

}

.stars-rate i{
	padding-right: 5px;
	color: #fdcc0d;
}

.stars-rate{
	padding: 10px 0px;
	margin-bottom: 10px 0px;
}

.stars-rate-chat{
	color: #fdcc0d;
	margin-bottom: 5px;
}

.cardContentLside h3{
	font-size: 1em;
	color: #2c362c;
	padding: 5px 0;
}

.cardContentLside p{
	text-align: justify;
	color: #666;
	padding: 2px 0;

}


.cardContentLside .cardButton-1{
	margin-top: 120px;
}

.cardContent-rating{
	padding: 20px;
	height: 250px;
}

.cardContent-rating h2, h3{
	padding: 3px 0px;
}
.cardContent-rating h3{
	color: #66A82C;
}

.cardContent-rating .user-review{
	text-align: justify;
	position: relative;
	height: 148px;
	overflow: hidden;
}

.cardContent-rating .date-rate{
	position: relative;
	top: 10px; 
}


.seeMoreLink{
	position: relative;
	top: 10px;
	font-size: 1em;
	color: #66A82C;
	text-decoration: none;
	transition: ease-in-out 0.3s;
}
.seeMoreLink:hover{
	color: #2c362c;
	font-size: 1.02em;
	transition: ease-in-out 0.3s;
}

.stars{
	font-size: 80px;
	background-color: red;
}

/*__________rating-imoji___________*/

.imogirate{
	text-align: center;

}

.imogirate label{
	font-size: 32px;
	padding: 5px;
	margin: 0px 10px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: ease-in-out 0.3s;
	border-radius: 30px;
}

.imogirate .icon{
	display: none;
}



.imogirate input[type="radio"]:checked + label {
        background-color: #66A82C;
        transition: ease-in-out 0.3s;
}

.review-textarea{
	margin: 10px 0px;
	width: 100%;
	height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #66A82C;
    border-radius: 5px;box-sizing: border-box;
    resize: none;

}

.imogirate button{
	min-width: 100px;
}


